.customer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 700px; 
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size: 16px;
  }
  
  .input-field:focus {
    border-color: #20B2AA; 
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
  }
  
  .submit-button {
    width: 100%;
    padding: 15px 30px;
    background-color: #20B2AA;
    color: white;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; 
  }
  
  .submit-button:hover {
    background-color: #20B2AA; 
  }
  
  .error {
    color: #f44336;
    font-size: 14px;
  }
  
 
  .heading {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #20B2AA;
    padding-bottom: 0.5rem;
    margin-top: -20px;
  }
  
  .heading::before {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #20B2AA;
    margin: 0 auto 1rem;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 10px;
  }

  
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(D:\Xeno\mini-crm-app\client\public\CreateCustomer.jpg); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
