.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  filter: brightness(0.8); 
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.85);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); 
  text-align: center;
  width: 90%;
  max-width: 400px;
  transition: transform 0.3s;
}

.login-container:hover {
  transform: scale(1.05); 
}

.title {
  font-size: 2.8em;
  margin-bottom: 15px;
  color: #222;
  font-weight: bold;
}

.subtitle {
  font-size: 1.4em;
  margin-bottom: 25px;
  color: #555;
}

.login-box {
  padding: 15px;
  border-radius: 12px;
  background: #f9f9f9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 20px 12px 48px; 
  border: none;
  border-radius: 6px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #333;
  font-size: 17px;
  font-weight: 500;
  background-color: white;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-position: 16px center;
  margin-top: 15px;
}

.login-with-google-btn:hover {
  background-color: #f1f1f1;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .35);
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 150, 255, 0.6);
}
.form-group {
  margin-bottom: 15px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  margin-top: 1px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}
