

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 10px;
  max-width: 900px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.9); 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.home-page:hover {
  transform: scale(1.01); 
}

.home-page-title {
  font-size: 2.5em;
  color: #333;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-page-intro {
  font-size: 1.2em;
  color: #555;
  text-align: center;
  margin-bottom: 30px;
}

.home-page-list {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
}

.home-page-list > li {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.home-page-list > li:hover {
  background-color: #f4f4f9;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

.icon {
  font-size: 30px;
  color: #4CAF50;
  flex-shrink: 0;
  margin-right: 20px;
}

.content {
  flex-grow: 1;
  font-size: 1.1em;
}

.nested-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}

.nested-list li {
  background: none;
  border: none;
  padding: 0;
  margin: 5px 0;
  box-shadow: none;
}

/* components/HomePage.css */

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background-image: url('D:\Xeno\mini-crm-app\client\public\homepage.jpg'); /* Update to match the saved image name */
  background-size: cover;
  background-position: center;
  filter: brightness(0.7); /* Optional darkening effect */
}

