

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #333;
  padding: 20px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: 'Roboto', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 0;
  padding-bottom: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%; 
}

.navbar li {
  display: inline;
  margin-right: 20px; 
}

.navbar li a,
.navbar li button {
  color: white;
  font-size: 1.2em;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}


.navbar li a:hover,
.navbar li button:hover {
  color: #20B2AA;
  font-weight: 700;
  transform: scale(1.1);
}


.logout-button {
  margin-left: auto;
}

.logout-button button {
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  padding: 20px;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.home-page {
  font-size: 18px;
}

.home-page h1 {
  font-size: 28px;
}

.home-page ul {
  list-style-type: disc;
  margin-left: 20px;
}

.home-page ul ul {
  list-style-type: circle;
}
